/*whole body*/

.special-border{
    border-radius: 15px 50px;
}

li {
    text-align: left;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}
.yellow_background {
    background-color: #edd54e;
}

.black_background {
    background-color: black;
    color: #edd54e;
}

/*title*/
#my_name {
    text-align: center;
    padding: 15% 5%;
    font-family: 'Ubuntu';
    z-index: 1;
    position: relative;
}
#my_name h1 {
    font-size: 4rem;
}

#star {
    width: 70%;
    transform: rotate(20deg);
    color: white;
    position: absolute;
    z-index: 0;
    top: 12%;
    left: 0;
}

/* about */

.second-section {
    padding: 4%;
}

.row {
    max-width: 100%;
    font-family: 'Titillium Web';
}

/* programming */


.grid-container {
    margin: 2% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1%;
    grid-row-gap: 4%;
}

#programming {
    margin-top: 8%;
    font-size: 32rem;
}

#programming h1 {
    font-family: 'Ubuntu';
    padding: 2%;
    font-size 33rem;
}

#programming p {
    font-size: 1.4rem;
    font-style: italic;
}

.prog-title {
    border-radius: 50px 0 0 15px;
}

.prog-desc {
    text-align: left;
    border-radius: 0 15px 50px 0;
}
/*art section*/

#art {
    color: white;
    height: 100%;
    margin: 2% 5%;
    padding: 2%;
}

.art_header {
    padding: 5%;
}

/* footer */

footer {
    padding: 0.2rem;
}

.icon {
    height: 1.5rem;
}

footer .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    margin: 1% 5%;
}