/*whole body*/
li {
    text-align: left;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}
.yellow_background {
    background-color: #edd54e;
}

.black_background {
    background-color: black;
    color: #edd54e;
}

.circle {
    border-radius: 15px;
}

/*title*/
#my_name {
    text-align: center;
    padding: 15% 5%;
    font-family: 'Ubuntu';
    z-index: 1;
    position: relative;
}
#my_name h1 {
    font-size: 4rem;
}

#star {
    width: 70%;
    transform: rotate(20deg);
    color: white;
    position: absolute;
    z-index: 0;
    top: 12%;
    left: 0;
}

/* about */

#about .black_background {
    border-radius: 15px 50px;
}

.second-section {
    padding: 4%;
}

.row {
    max-width: 100%;
    font-family: 'Titillium Web';
}

/* programming */

#first-prog {
    margin-top: 10%;
}

.flex {
    display: flex;
    flex-direction: col;
    align-items: center;
    gap: 0.5rem 3rem;
}

.prog-row {
     display: inline-flex;
     flex-direction: row;
     flex-grow: 1;
}

#programming {
    text-align: center;
    margin: 10% 2%;
}

#programming .circle {
    width:50%;
}

#programming h1 {
    font-family: 'Ubuntu';
}



/*art section*/

#art {
    color: white;
    height: 100%;
    margin: 2% 5%;
    padding: 2%;
}

.art_header {
    padding: 5%;
}

/* footer */

footer {
    padding: 0.2rem;
}

.icon {
    height: 1.5rem;
}

footer .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    margin: 1% 5%;
}